<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HR Dashboard</title>
</head>

<body>
  <div class="container-fluid d-flex p-0">


    <div class="app-bar " id="appBar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>

      <nav id="navigationDrawer" class="app-bar__navigation navbar-container">
        <ul>
          <li class="navbar-link"><a href="/main.html" >Home</a></li>
          <li class="navbar-link"><a href="#/employees" id="favoriteLink">Employees</a></li>
          <li class="navbar-link"><a href="#/salary" id="favoriteLink">Salary</a></li>
          <li class="navbar-link"><a href="https://github.com/RedimRedim/" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid" id="mainContent">
      <!-- render through main.js-->
    </div>
  </div>

  </div>
</body>

</html>