<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR Dashboard</title>
</head>

<body>
    <div class="d-flex  p-2">
        <nav class="navbar-container">
            <ul class="navbar">
                <li><a href="main.html">Dashboard</a></li>
                <li><a href="payroll.html">Payroll</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>

        <div class="container-fluid">


            <div class="row m-2">

                <form id="createEmpForm">
                    <div class="emp-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div class="emp-group">
                        <label for="sex">Sex</label>
                        <input type="radio" name="sex" id="female" value="Female">
                        <label for="female">Female</label>
                        <input type="radio" name="sex" id="male" value="Male">
                        <label for="male">Male</label>
                    </div>

                    <div class="emp-group">
                        <label for="department">Department</label>
                        <select id="department" name="department" required>
                            <option value="">Select Department</option>
                            <option value="HR">HR</option>
                            <option value="Finance">Finance</option>
                            <option value="IT">IT</option>
                        </select>

                        <div class="emp-group">
                            <label for="employeeType">Employee Type</label>
                            <select id="employeeType" name="employeeType" required>
                                <option value="">Select Employee Type</option>
                                <option value="Regular">Regular</option>
                                <option value="Probation">Probation</option>
                            </select>
                        </div>

                        <div class="emp-group">
                            <label for="role">Role</label>
                            <input type="text" id="role" name="role" required>
                        </div>

                        <input type="submit" id="saveEmp" class="btn btn-primary" value="Submit">
                    </div>
                </form>

            </div>

            <div class="row m-2 ">
                <table class="table table-hover table-dark table-striped align: middle">
                    <thead class="text-center align: middle">
                        <tr>
                            <th scope="col" id="_id">Oid</th>
                            <th scope="col" id="name">Name</th>
                            <th scope="col" id="sex">Sex</th>
                            <th scope="col" id="department">Department</th>
                            <th scope="col" id="employeeType">Employee Type</th>
                            <th scope="col" id="role">Role</th>
                            <th scope="col" id="salary">Salary</th>
                            <th scope="col" id="isResign">isResign</th>
                            <th scope="col" id="createdDate">Created Date</th>
                            <th scope="col" id="updatedDate">Updated Date</th>
                        </tr>
                    </thead>
                    <tbody id="empTableBody">
                        <!-- Employee rows will be dynamically generated here -->
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</body>

</html>