<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR Dashboard</title>
</head>


<body>
    <div class="d-flex p-2">
        <nav class="navbar-container">
            <ul class="navbar">
                <li><a href="">Dashboard</a></li>
                <li><a href="../templates/payroll.html">Payroll</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>

        <div class="container-fluid">


            <div class="row m-2" style="height:100px">
                <div
                    class="selection-content d-flex flex-row p-0 border border-1 rounded-2 bg-light p-2 flex-grow-1 justify-content-end align-items-center">
                    <div class="filter-content ">
                        <select class="form-select" aria-label="Select Month">
                            <option selected>Select Month:</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div>



        </div>
    </div>
</body>

</html>