<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR Dashboard</title>
  </head>

  <body>
    <div class="d-flex p-2">
      <nav class="navbar-container">
        <ul class="navbar">
          <li><a href="#">Home</a></li>
          <li><a href="#">App</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>

      <div class="main-container flex-grow-1">
        <div class="d-flex flex-column p-3 gap-4">
          <div class="first-container d-flex gap-5 justify-content-center">
            <div class="totalContent p-3">
              <p>totalEmployee</p>
              <div id="totalEmployee">$1</div>
            </div>
            <div class="totalContent p-3">
              <p>totalRegular</p>
              <div id="totalRegular">$1</div>
            </div>
            <div class="totalContent p-3">
              <p>totalProbation</p>
              <div id="totalProbation">$1</div>
            </div>
            <div class="totalContent p-3">
              <p>totalNewEMployee</p>
              <div id="totalNewEMployee">$1</div>
            </div>
          </div>

          <div class="first-chartoverview p-5" style="border: 1px solid black">
            Payroll Cost Overview per Month
          </div>

          <div class="test p-5" style="border: 1px solid black">
            Total Regular & Probation
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
