<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HR Dashboard</title>
</head>


<body>
  <div class="d-flex p-2">
    <nav class="navbar-container">
      <ul class="navbar">
        <li><a href="#">Dashboard</a></li>
        <li><a href="">App</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>

    <div class="container-fluid">


      <div class="row m-2" style="height:100px">
        <div
          class="selection-content d-flex flex-row p-0 border border-1 rounded-2 bg-light p-2 flex-grow-1 justify-content-end align-items-center">
          <div class="filter-content ">
            <select class="form-select" aria-label="Select Month">
              <option selected>Select Month:</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
      </div>


      <div class="row m-2">
        <div class="d-flex flex-row p-0 gap-3">
          <div class="totalContent  border border-1 rounded-2 bg-light">
            <p class="totalTitle">Total Employee</p>
            <div id="totalEmployee" class="totalValue">1</div>
          </div>
          <div class="totalContent  border border-1 rounded-2 bg-light">
            <p class="totalTitle">Total Payroll</p>
            <div id="totalPayroll" class="totalValue">1</div>
          </div>
          <div class="totalContent  border border-1 rounded-2 bg-light">
            <div class="totalRegular d-flex flex-row justify-content-between align-items-center">
              <p class="totalTitle">Total Regular</p>
              <p id="totalRegular" class="totalValue ">1</p>
            </div>
            <div class="totalProbation d-flex flex-row justify-content-between align-items-center">
              <p class="totalTitle">Total Probation</p>
              <p id="totalProbation" class="totalValue ">1</p>
            </div>

          </div>
          <div class="totalContent  border border-1 rounded-2 bg-light">
            <div class="totalGender d-flex flex-row justify-content-between align-items-center">
              <p class="totalTitle">Total Male</p>
              <p id="totalMale" class="totalValue">1</p>
            </div>
            <div class="totalFemale d-flex flex-row justify-content-between align-items-center">
              <p class="totalTitle">Total Female</p>
              <p id="totalFemale" class="totalValue">1</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="content1 d-flex flex-row gap-2 p-0 w-100">
          <div class="table-content2  border border-1 rounded-2 bg-light p-2">
            table-content2
          </div>

          <div class="table-content1  border border-1 rounded-2 bg-light p-2">
            table-content1
          </div>
        </div>
      </div>

      <div class="row m-2 border border-1 rounded-2 bg-light">
        <div class="content1">
          <div class="chart-content1 p-1" style="height: 400px">
            <canvas id="salaryChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>