/* Media Queries for Mobile View */
@media (max-width: 768px) {
  .app-bar__navigation {
    display: none; /* Hide navigation by default */
  }

  .app-bar__navigation.open {
    display: block; /* Show when open */
  }

  #hamburgerButton {
    display: block; /* Show hamburger button */
  }
}

@media (min-width: 769px) {
  #hamburgerButton {
    display: none; /* Hide hamburger button on larger screens */
  }

  .app-bar__navigation {
    display: flex; /* Show navigation on larger screens */
    position: relative; /* Adjust positioning */
    left: 0; /* Reset left position */
  }
}
