body {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.app-bar {
  min-width: 120px;
  height: 100vh;
  border: 1px solid black;
  background-color: rgb(33, 37, 41);
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  margin-bottom: 1em;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
}

.active {
  background-color: rgb(12, 103, 238);
}

/* .app-bar_brand {
  margin-left: 2em;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-bar_brand a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.5em;
  min-width: 50px;
  min-height: 50px;
} */

.app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  overflow: hidden;
  flex-grow: 1;
  z-index: 999;
  width: 100%;
  justify-content: flex-end;
  margin-right: 2em;
}

.app-bar__navigation.open {
  left: 0;
}

.app-bar__navigation ul {
  min-width: 44px;
  min-height: 44px;
  list-style-type: none;
  padding: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: block; /* Allows the link to behave like a block */
  min-width: 44px;
  min-height: 44px;
  margin-left: 1em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-content: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-left: 1em !important;
  align-items: start !important;
}

.navbar li {
  list-style-type: none;
  padding: 0.5em;
}

.navbar li a {
  color: rgb(13, 110, 253);
  text-decoration: none;
}

.first-container {
  height: 120px;
}

.totalContent {
  width: 100%;
  padding: 1em;
}

.chart-content1,
.tableDepartment,
.table-content2 {
  width: 100%;
  height: 250px;
}

.totalTitle {
  font-size: 1.2rem;
}

.totalValue {
  font-size: 1.5rem;
}

label {
  min-width: 50px;
  min-height: 50px;
  align-items: center;
}

.emp-group {
  align-items: center;
  align-self: center;
}

td {
  white-space: nowrap;
  width: auto;
}

td button {
  margin-right: 10px;
}

tr > th,
tr > td {
  text-align: center !important;
}

.close {
  min-width: 50px;
  min-height: 50px;
  border: none;
  background: none;
  font-size: 30px;
  color: #000;
}
